In [ ]:
# default_exp core

# Data Dev Tools

> API details.

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
#export

from sqlalchemy import create_engine
import hashlib
import os.path
import pandas as pd

class Database:
    # http://docs.sqlalchemy.org/en/latest/core/engines.html
    """
    Reference Object for Sql Alchemy Engine 
    
    dbtype: one of ['sqlite','pymysql','snowflake']
    kwargs:
        sqlite 
            - path=<path-to-database file>
        pymysql
            - username,password,hostname,database
        snowflake
            - username,password,account,database,schema,warehouse,role
        
    """
    DB_ENGINES = {
        'sqlite': 'sqlite:////{path}',
        'pymysql': 'mysql+pymysql://{username}:{password}@{hostname}/{database}?charset=UTF8MB4',
        'snowflake':"snowflake://{username}:{password}@{account}/{database}/{schema}?warehouse={warehouse}&role={role}",
    }

    # Main DB Connection Ref Obj
    engine = None
    def __init__(self, dbtype,Base=None,Meta=None,**kwargs):
        dbtype = dbtype.lower()
        if dbtype in self.DB_ENGINES.keys():
            engine_url = self.DB_ENGINES[dbtype].format(**kwargs)
            self.engine = create_engine(engine_url)
            print(self.engine)
            
            if Base:
                self.base = Base
            if Meta:
                self.meta = Meta
        else:
            print("DBType is not found in DB_ENGINE")

In [ ]:
#hide
from dotenv import load_dotenv
from os import environ
load_dotenv('.env')

In [ ]:
mlb_db = Database(
    dbtype='pymysql',
    username=environ.get('db_user'),
    password=environ.get('db_password'),
    hostname=environ.get('db_host'),
    database='MLB'
)

Engine(mysql+pymysql://admin:***@mydatabase.cjk1vmqlqaty.us-east-2.rds.amazonaws.com/MLB?charset=UTF8MB4)

In [ ]:
#export 

def cached_query(self,sql_query, parameters=None):
    """
    Method to query data from `Database` Ref Obj and return pandas dataframe
    Parameters
    ----------
    sql_query : str
        saved SQL query
    parameters : dict, optional
        populates named placeholders in query template. 

    Returns
    -------
    df_raw : DataFrame
        Pandas DataFrame with raw data resulting from query
    """
    if parameters:
        sql_query = sql_query.format(**parameters)
    
    # Hash the query
    query_hash = hashlib.sha1(sql_query.encode()).hexdigest()

    # Create the filepath
    file_path = os.path.join("_cache","{}.csv".format(query_hash))

    # Read the file or execute query 
    if os.path.exists(file_path):
        df_raw = pd.read_csv(file_path)
    else:
        with self.engine.connect() as connection:
            try:
                df_raw = pd.read_sql(sql_query, con=connection, params=parameters)
            except (KeyboardInterrupt, SystemExit):
                connecton.close()
            finally:
                connection.close()
        if not os.path.isdir("_cache"):
            os.makedirs("_cache")
        df_raw.to_csv(file_path, index=False)

    return df_raw
Database.cached_query = cached_query

In [ ]:
show_doc(cached_query)

<h4 id="cached_query" class="doc_header"><code>cached_query</code><a href="__main__.py#L3" class="source_link" style="float:right">[source]</a></h4>

> <code>cached_query</code>(**`sql_query`**, **`parameters`**=*`None`*)

Method to query data from [`Database`](/sql_s3/core.html#Database) Ref Obj and return pandas dataframe
Parameters
----------
sql_query : str
    saved SQL query
parameters : dict, optional
    populates named placeholders in query template.

Returns
-------
df_raw : DataFrame
    Pandas DataFrame with raw data resulting from query

In [ ]:
mlb_db.engine.table_names()

['actions',
 'credits',
 'game',
 'game_players',
 'matchups',
 'movements',
 'pitches',
 'players',
 'plays',
 'team_records',
 'teams',
 'venue']

In [ ]:
with mlb_db.engine.connect() as conn:
    matchups = pd.read_sql('select * from matchups limit 10000',conn)
matchups

,batter_id,batSide_code,batSide_description,pitcher_id,pitchHand_code,pitchHand_description,splits_batter,splits_pitcher,splits_menOnBase,atBatIndex,gamePk,playEndTime,postOnFirst_id,postOnSecond_id,postOnThird_id
0,605141,R,Right,477132,L,Left,vs_LHP,vs_RHB,Empty,0,563411,2018-10-29T00:17:56.000Z,NaN,NaN,NaN
1,643217,L,Left,477132,L,Left,vs_LHP,vs_LHB,Men_On,1,563411,2018-10-29T00:19:24.000Z,643217.0,NaN,NaN
2,456665,R,Right,477132,L,Left,vs_LHP,vs_RHB,Empty,2,563411,2018-10-29T00:20:08.000Z,NaN,NaN,NaN
3,502110,R,Right,477132,L,Left,vs_LHP,vs_RHB,Empty,3,563411,2018-10-29T00:21:42.000Z,NaN,NaN,NaN
4,593428,R,Right,477132,L,Left,vs_LHP,vs_RHB,Empty,4,563411,2018-10-29T00:23:48.000Z,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,621521,R,Right,608334,R,Right,vs_RHP,vs_RHB,Empty,58,567251,2019-03-02T22:19:01.900Z,NaN,NaN,NaN
9996,519390,L,Left,543859,R,Right,vs_RHP,vs_LHB,Men_On,54,566457,2019-03-02T22:19:04.185Z,592656.0,NaN,NaN
9997,591971,R,Right,571503,L,Left,vs_LHP,vs_RHB,Empty,56,566263,2019-03-02T22:19:28.802Z,NaN,NaN,NaN
9998,623323,R,Right,605130,R,Right,vs_RHP,vs_RHB,Empty,53,565691,2019-03-02T22:19:29.662Z,NaN,NaN,NaN
9999,657779,L,Left,605130,R,Right,vs_RHP,vs_LHB,Men_On,54,565691,2019-03-02T22:19:47.562Z,657779.0,NaN,NaN

In [ ]:
q = """
select 
    *
from 
    plays
limit
    100
"""

In [ ]:
plays = mlb_db.cached_query(q)
plays.head()

,atBatIndex,playEndTime,gamePk,result_type,result_event,result_eventType,result_description,result_rbi,result_awayScore,result_homeScore,...,about_isScoringPlay,about_hasReview,about_hasOut,about_captivatingIndex,count_balls,count_strikes,count_outs,reviewDetails_isOverturned,reviewDetails_reviewType,reviewDetails_challengeTeamId
0,0,2018-10-29T00:17:56.000Z,563411,atBat,Flyout,field_out,Mookie Betts flies out to center fielder Enriq...,0,0,0,...,0,0.0,1,0,0,1,1,NaN,NaN,NaN
1,0,2019-02-22T18:05:21.639Z,568310,atBat,Groundout,field_out,"Roman Quinn grounds out, first baseman Ji-Man ...",0,0,0,...,0,0.0,1,0,0,0,1,NaN,NaN,NaN
2,0,2019-02-22T18:06:03.462Z,568440,atBat,Single,single,Manuel Mesa singles on a ground ball to center...,0,0,0,...,0,0.0,0,33,0,0,0,NaN,NaN,NaN
3,0,2019-02-22T18:08:01.314Z,568403,atBat,Groundout,field_out,"Cam Walsh grounds out, shortstop Tzu-Wei Lin t...",0,0,0,...,0,0.0,1,0,0,1,1,NaN,NaN,NaN
4,0,2019-02-22T20:13:24.267Z,566356,atBat,Groundout,field_out,Nick Martini grounds out softly to first basem...,0,0,0,...,0,0.0,1,0,0,1,1,NaN,NaN,NaN

In [ ]:
plays['result_event'].value_counts()

Groundout       21
Strikeout       17
Single          13
Flyout          11
Pop Out         11
Walk             7
Double           7
Lineout          5
Home Run         4
Hit By Pitch     2
Field Error      2
Name: result_event, dtype: int64

In [ ]:
example_query = "SELECT * FROM pitches {WHERE} limit 100;"

In [ ]:
mlb_db.cached_query(
    example_query,parameters={"WHERE":"WHERE details_call_code = 'F'"})

,gamePk,atBatIndex,playEndTime,index,details_call_code,details_call_description,details_description,details_code,details_ballColor,details_trailColor,...,hitData_totalDistance,hitData_trajectory,hitData_hardness,hitData_location,hitData_coordinates_coordX,hitData_coordinates_coordY,details_runnerGoing,reviewDetails_isOverturned,reviewDetails_reviewType,reviewDetails_challengeTeamId
0,563411,0,2018-10-29T00:17:56.000Z,0,F,Strike - Foul,Foul,F,"rgba(170, 21, 11, 1.0)","rgba(188, 0, 33, 1.0)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,563411,1,2018-10-29T00:19:24.000Z,1,F,Strike - Foul,Foul,F,"rgba(170, 21, 11, 1.0)","rgba(0, 34, 255, 1.0)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,563411,3,2018-10-29T00:21:42.000Z,1,F,Strike - Foul,Foul,F,"rgba(170, 21, 11, 1.0)","rgba(188, 0, 33, 1.0)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,563411,6,2018-10-29T00:29:58.000Z,0,F,Strike - Foul,Foul,F,"rgba(170, 21, 11, 1.0)","rgba(188, 0, 33, 1.0)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,563411,8,2018-10-29T00:35:55.000Z,5,F,Strike - Foul,Foul,F,"rgba(170, 21, 11, 1.0)","rgba(187, 0, 69, 1.0)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,564723,74,2019-03-05T23:01:25.139Z,0,F,Foul,Foul,F,"rgba(170, 21, 11, 1.0)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,564724,3,2019-03-07T20:21:15.022Z,1,F,Foul,Foul,F,"rgba(170, 21, 11, 1.0)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,564725,34,2019-03-08T21:48:24.514Z,0,F,Foul,Foul,F,"rgba(170, 21, 11, 1.0)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,564725,34,2019-03-08T21:48:24.514Z,1,F,Foul,Foul,F,"rgba(170, 21, 11, 1.0)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,564725,69,2019-03-08T23:06:18.752Z,0,F,Foul,Foul,F,"rgba(170, 21, 11, 1.0)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
q = "select distinct(details_call_description) result, count(*) as count from pitches group by details_call_description"
mlb_db.cached_query(q)

                       result   count
0               Strike - Foul      44
1      Hit Into Play - Out(s)      34
2             Strike - Called      42
3   Hit Into Play - No Out(s)       6
4      Hit Into Play - Run(s)       5
5               Ball - Called      74
6           Strike - Swinging      27
7         Ball - Ball In Dirt       2
8   Strike - Swinging Blocked       2
9             In play, out(s)   96867
10            In play, no out   34627
11                       Ball  268532
12              Called Strike  130609
13                   Foul Tip    6998
14            Swinging Strike   94443
15            In play, run(s)   20976
16                       Foul  136091
17  Swinging Strike (Blocked)    6310
18               Hit By Pitch    2448
19               Ball In Dirt   18458
20                  Foul Bunt    1756
21             Automatic Ball    2708
22                Missed Bunt     365
23                   Pitchout      66

In [ ]:
with mlb_db.engine.connect() as conn:
    pitches = pd.read_sql("select * from pitches limit 100000",conn)
pitches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 65 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   gamePk                          100000 non-null  int64
 1   atBatIndex                      100000 non-null  int64
 2   playEndTime                     100000 non-null  object
 3   index                           100000 non-null  int64
 4   details_call_code               100000 non-null  object
 5   details_call_description        100000 non-null  object
 6   details_description             100000 non-null  object
 7   details_code                    100000 non-null  object
 8   details_ballColor               100000 non-null  object
 9   details_trailColor              92574 non-null   object
 10  details_isInPlay                100000 non-null  int64
 11  details_isStrike                100000 non-null  int64
 12  details_isBall                  100000 non-null  int64
 13  details_type_code               92574 non-null   object
 14  details_type_description        92574 non-null   object
 15  details_hasReview               100000 non-null  int64
 16  count_balls                     100000 non-null  int64
 17  count_strikes                   100000 non-null  int64
 18  pitchData_startSpeed            92574 non-null   float64
 19  pitchData_endSpeed              92574 non-null   float64
 20  pitchData_strikeZoneTop         100000 non-null  float64
 21  pitchData_strikeZoneBottom      100000 non-null  float64
 22  pitchData_coordinates_aY        92574 non-null   float64
 23  pitchData_coordinates_aZ        92574 non-null   float64
 24  pitchData_coordinates_pfxX      92574 non-null   float64
 25  pitchData_coordinates_pfxZ      92574 non-null   float64
 26  pitchData_coordinates_pX        92574 non-null   float64
 27  pitchData_coordinates_pZ        92574 non-null   float64
 28  pitchData_coordinates_vX0       92574 non-null   float64
 29  pitchData_coordinates_vY0       92574 non-null   float64
 30  pitchData_coordinates_vZ0       92574 non-null   float64
 31  pitchData_coordinates_x         99629 non-null   float64
 32  pitchData_coordinates_y         99637 non-null   float64
 33  pitchData_coordinates_x0        92574 non-null   float64
 34  pitchData_coordinates_y0        92574 non-null   float64
 35  pitchData_coordinates_z0        92574 non-null   float64
 36  pitchData_coordinates_aX        92574 non-null   float64
 37  pitchData_breaks_breakAngle     92574 non-null   float64
 38  pitchData_breaks_breakLength    92574 non-null   float64
 39  pitchData_breaks_breakY         92574 non-null   float64
 40  pitchData_breaks_spinRate       91043 non-null   float64
 41  pitchData_breaks_spinDirection  92574 non-null   float64
 42  pitchData_zone                  92440 non-null   float64
 43  pitchData_typeConfidence        70493 non-null   float64
 44  pitchData_plateTime             92574 non-null   float64
 45  pitchData_extension             92574 non-null   float64
 46  pfxId                           92654 non-null   object
 47  playId                          99684 non-null   object
 48  pitchNumber                     100000 non-null  int64
 49  startTime                       100000 non-null  object
 50  endTime                         100000 non-null  object
 51  isPitch                         100000 non-null  int64
 52  type                            100000 non-null  object
 53  hitData_launchSpeed             14782 non-null   float64
 54  hitData_launchAngle             14782 non-null   float64
 55  hitData_totalDistance           14779 non-null   float64
 56  hitData_trajectory              18658 non-null   object
 57  hitData_hardness                18658 non-null   object
 58  hitData_location                18567 non-null   object
 59  hitData_coordinates_coordX      18640 non-null   float64
 60  hitData_coordinates_coordY      18640 non-null   float64
 61  details_runnerGoing             1312 non-null    float64
 62  reviewDetails_isOverturned      9 non-null       float64
 63  reviewDetails_reviewType        9 non-null       object
 64  reviewDetails_challengeTeamId   8 non-null       float64
dtypes: float64(36), int64(11), object(18)
memory usage: 49.6+ MB

In [ ]:
pitches.duplicated(subset=['gamePk','atBatIndex','playEndTime','index']).sum()

0

In [ ]:
pitches[
    (pitches['playId'].duplicated())
    &(pitches['details_call_description']!='Automatic Ball')
].sort_values('startTime')[
    ['details_call_description','startTime','playId']
]

      details_call_description                 startTime playId
28722          Swinging Strike  2019-02-23T22:40:23.663Z   None
99359                     Ball  2019-06-29T18:21:24.179Z   None
99468            Called Strike  2019-06-29T19:33:03.742Z   None
99472                     Ball  2019-06-29T19:34:13.710Z   None
99473                     Foul  2019-06-29T19:34:13.711Z   None
99519                     Ball  2019-06-29T20:11:36.892Z   None
99620          In play, out(s)  2019-06-29T21:14:34.103Z   None
99878          Swinging Strike  2019-06-30T16:31:58.679Z   None

In [ ]:
#hide
from nbdev.export import notebook2script; notebook2script()

Converted 00_core.ipynb.
Converted index.ipynb.